body {
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

svg {
    margin-right: 20px;
    border-radius: 10%;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #0043B9;
}

h2 {
    margin: 50px;
    text-align: center;
    color: #0043B9;
}

#map {
    width: 100%;
    height: 400px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: calc(24% - 10px);
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
}

.rating-buttons {
    margin-top: 10px;
}

.rating-buttons button {
    margin-right: 5px;
}

.rating-container {
    display: flex;
    flex-direction: column;
}

.rating-item {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .cards-container {
      flex-direction: column;
    }
  
    .card {
      width: 90%;
    }
  }